body {
    font-family:'Courier New', Courier, monospace;
    background-color: green;
    color:rgb(134, 230, 134);
}
h1{
    color:limegreen;
}
a {
    color:chartreuse;
}
a:hover{
    color:rgb(212, 253, 171)
}
ul>li {
    font-weight:bold;
}
h1+p{
    background-color:aqua;
}
ul li:nth-child(3){
    background-color: blue;
}
a::after{
    content:"🍀"
}
a::before{
    content:"🍀"
}